/* Reset & Body */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgb(231, 228, 228);
}

/* Header */
header {
  background: rgb(247, 245, 245);
  padding: 16px 32px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 32px; /*kasih jarak antara judul header kiri dan menu home*/
}
.logo {
  font-weight: bold;
  color: red;
}

nav a {
  margin-right: 16px;
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.botton-contact {
  background-color: #1a1a2e;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
}

/* Main Container */
.container {
  max-width: 1000px;
  margin: 48px auto;
  background: #fff;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

/* Left & Right Columns with Flexbox */
.container-left {
  flex: 1 1 65%;
  min-width: 280px;
}
.container-left p {
  text-align: justify;
  font-size: 12px;
  line-height: 1.6;
  color: black;
}
.container-right {
  flex: 1 1 30%;
  min-width: 250px;
}

/* Left Content */
.container-left h1 {
  margin-top: 0;
}
.buttons {
  margin: 16px 0;
}
.buttons a {
  display: inline-block;
  text-decoration: none;
  margin-right: 16px;
  padding: 8px 16px;
  border-radius: 50px;
}
.botton-dark {
  background-color: black;
  color: white;
}

/* Social Icons */
.socials {
  margin-top: 16px;
}
.socials i {
  margin-right: 15px;
  font-size: 19px;
  color: black;
}

/* Profile Card */
.profile-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.profile-card img {
  width: 100%;
  display: block;
}
.profile-card h3 {
  margin: 8px 0 0;
}
.profile-card p {
  margin: 3px 0 16px;
  color: gray;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  .header-left {
    flex-direction: column;
    gap: 8px;
  }
  .botton-contact {
    margin-top: 8px;
  }

  .container {
    flex-direction: column;
  }
}

/* Optional Section Containers */
.container1 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.container2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
